{% extends 'base.html' %}

{% block title %}Formulario de Color{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Color</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
</form>
<a href="{% url 'color_list' %}" class="btn btn-secondary mt-3">Cancelar, ver colores</a>
<a href="{% url 'crear' %}" class="btn btn-secondary mt-3">Cancelar, registrar gallo</a>
{% endblock %}
